    .item{
        width: 500px;
        height: 100px;
        background-color: aquamarine;
        font-size: 36px;
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;
    }
    p{
        margin: 0;
        padding: 0;
    }